{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
//    "eslint:recommended",
//    "plugin:react/recommended",
//    "plugin:react/recommended",
//    "plugin:import/recommended",
//    "plugin:import/errors",
//    "plugin:import/warnings",
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
  }
}
