.btn,
.btn-inverted {
  padding: 10px 20px;
  outline: none !important;
  font-weight: bold;
  box-shadow: none !important;
  transition-duration: var(--transition);
}

.btn {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.btn:hover {
  background-color: var(--secondary-light);
  border: 1px solid var(--primary);
  color: lightgray;
}

.btn:focus {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.btn > .svg-inline--fa,
.btn:focus:hover > .svg-inline--fa {
  color: var(--secondary);
}

.btn:hover > .svg-inline--fa {
  color: lightgray;
}

.btn-inverted {
  background-color: var(--secondary-light);
  color: lightgray;
  border: 1px solid var(--primary);
}

.btn-inverted:focus {
  background-color: var(--secondary-light);
  color: lightgray;
  border: 1px solid var(--primary);
}

.btn-inverted:hover,
btn-inverted:focus:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-inverted > .svg-inline--fa,
.btn-inverted:focus > .svg-inline--fa {
  color: lightgray;
}

.btn-inverted:hover > .svg-inline--fa,
.btn-inverted:focus:hover > .svg-inline--fa {
  color: var(--secondary);
}
