.title-card,
.person-card {
  border: 1px solid dimgray;
  padding: 1rem;
  transition-duration: var(--transition);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  color: white !important;
}

.title-card:hover,
.person-card:hover,
.activity-card:hover {
  border-color: var(--primary);
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.title-card small,
.person-card small {
  color: lightgray;
}

.title-card img {
  height: 70px;
  width: 50px;
}

.person-card img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.timeline-card {
  border: 1px solid var(--secondary-light);
  padding: 1rem;
  transition-duration: var(--transition);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 5px black;
}

.timeline-card .title-image,
.activity-card .title-image {
  border-radius: 3px;
  box-shadow: 5px 2px 10px var(--secondary);
  object-fit: cover;
  height: 88px;
  width: 58px;
}

.timeline-card .header,
.activity-card .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.timeline-card a,
.activity-card a {
  color: white !important;
}

.activity-card {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  border: 1px solid var(--secondary);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .timeline-card .header {
    flex-direction: column;
  }
}
