.title-card,
.person-card,
.activity-card,
.timeline-card {
  display: flex;
  transition-duration: var(--transition);
  background-color: var(--secondary-light);
  border: 1px dashed var(--secondary);
  box-shadow: 1px 1px 3px var(--secondary);
  border-radius: 8px;
  padding: 1rem;
}

.title-card img,
.person-card img,
.activity-card img,
.timeline-card img {
  box-shadow: 2px 2px 5px var(--secondary);
}

.timeline-card a,
.person-card a,
.timeline-card a,
.activity-card a {
  color: lightgray !important;
}

.title-card,
.person-card {
  flex-direction: row;
  align-items: center;
  color: lightgray !important;
}

.title-card:hover,
.person-card:hover,
.activity-card:hover,
.timeline-card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0 10px 10px;
  border-bottom: 1px solid var(--primary);
}

.title-card:hover strong,
.person-card:hover strong {
  text-decoration: underline;
}

.title-card img {
  height: 70px;
  width: 50px;
}

.person-card img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.timeline-card,
.activity-card {
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.timeline-card .title-image,
.activity-card .title-image {
  border-radius: 3px;
  object-fit: cover;
  height: 88px;
  width: 58px;
}

.timeline-card .header,
.activity-card .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .timeline-card .header {
    flex-direction: column;
  }
}
