.form-container {
  border-radius: 8px 8px 3px 3px;
  background-color: var(--background);
  margin: 10rem auto;
  width: 30rem;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--primary);
}

.form-container > h3 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

input,
select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  outline: none !important;
  background-color: var(--secondary-light);
}

input {
  color: lightgray;
}

select:invalid,
input:disabled {
  color: gray !important; /* same as ::placeholder */
}

input:disabled,
select:disabled {
  background-color: #cccccc;
}

label {
  margin-left: 2px;
  margin-bottom: 2px;
  color: lightgray;
}

.error {
  color: var(--error);
}

.success {
  color: var(--success);
}

.forgot-password {
  display: flex;
  justify-content: space-between;
}

.forgot-password > .link {
  font-size: small;
  margin: auto 2px 4px auto;
}

input[type="checkbox"] {
  height: 12px;
  box-shadow: none;
  width: auto;
  margin-right: 5px;
}

.input-dark {
  background-color: var(--background);
  color: white;
}

.input-dark::placeholder {
  color: lightgray;
  opacity: 1;
}

textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  resize: none;
  border-radius: 5px;
  background-color: var(--secondary-light);
  color: lightgray;
}

@media (max-width: 520px) {
  .form-container {
    width: 90%;
  }
  .filter-number-input {
    width: 150px;
  }
}

@media (max-width: 325px) {
  .filter-genre {
    font-size: 11px;
  }
}
