.logo-container {
  font-size: 2.1rem;
  text-align: center;
  color: var(--primary);
  font-family: "Pacifico", cursive;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 0 var(--logo), 1px 1px 0 var(--secondary-light),
    1.5px 1.5px 0 var(--error), 2px 2px 0 lightgray, 2.5px 2.5px 0 var(--success),
    3px 3px 0 lightcoral, 3.5px 3.5px 0 var(--link);

  text-decoration: none !important;

  margin-right: 1rem;
  padding: 5px 20px 5px 13px;
  border-radius: 0.25rem;
  transition-duration: var(--transition);
}

.logo-container:hover {
  color: var(--primary-light);
}
