.not-found {
  min-height: 92vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.not-found > .svg-inline--fa {
  color: var(--error);
  font-size: 10rem;
}
