.profile-container {
  width: 60%;
  min-height: 100vh;
  overflow: auto;
  background-color: var(--background);
  margin: 0 auto;
  border-radius: 5px;
  padding: 2rem 0;
}

.profile-content {
  padding: 0 2rem;
}

.profile-header {
  background-color: var(--primary);
  min-height: 12rem;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  color: var(--secondary-light);
}

.profile-header > h1 {
  font-weight: bold;
}

.profile-header #info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.avatar {
  margin-top: 15px;
  margin-bottom: -10px;
  margin-right: 3rem;
}

.avatar-edit {
  text-align: center;
  font-size: 14px;
}

.avatar-edit:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav.nav-pills .nav-link {
  color: lightgray;
  border: 1px solid var(--secondary-light);
  margin: 5px;
  font-weight: bold;
}
.nav.nav-pills .nav-link.active {
  background-color: var(--primary);
  color: var(--secondary);
  border-color: var(--primary);
}

.profile-picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  padding: 0;
  border: 1px solid var(--secondary);
}

.profile-follow-card {
  background-color: var(--secondary-light);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 3px var(--secondary);
  transition-duration: var(--transition);
}
.profile-follow-card:hover {
  border-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.profile-follow-card img {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 3rem;
}

.profile-follow-button {
  width: 100%;
}

@media (max-width: 768px) {
  .profile-follow-card {
    width: 100%;
  }
  .profile-container {
    width: 80%;
  }
  .profile-follow-button {
    width: 100%;
  }
  .profile-header {
    flex-flow: row wrap;
  }
  .profile-header #info {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
}

@media (max-width: 640px) {
  .profile-header .avatar {
    margin-bottom: 0px;
  }
}

@media (max-width: 425px) {
  .profile-container {
    width: 100%;
  }
  .profile-header {
    padding: 2rem 2rem;
  }
  .profile-follow-card {
    padding: 1rem;
  }
  .profile-content {
    padding: 0;
  }
}
