@import "DetailPage.css";

.title-description {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title-page-genres {
  display: flex;
  flex-direction: row;
}

.title-page-genres a {
  padding: 5px 10px;
  border: 1px solid white;
  margin-right: 12px;
  border-radius: 20px;
  font-size: smaller;
  color: white;
  transition-duration: var(--transition);
}

.title-page-genres a:hover {
  text-decoration: none;
  border-color: var(--primary);
  color: var(--primary);
}

.core-page-content {
  padding: 1rem;
}

.title-rating > p > strong {
  font-size: larger;
  color: var(--primary);
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.title-cast h3 {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  margin-left: 0;
  margin-bottom: 1rem;
}

.review {
  color: lightgray;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background-color: var(--secondary-light);
  box-shadow: 1px 1px 3px var(--secondary);
}

@media (max-width: 600px) {
  .detail-years {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .title-page-genres {
    justify-content: center;
    flex-wrap: wrap;
  }
}
