@import "assets/css/Button.css";
@import "assets/css/Form.css";
@import "assets/css/Modal.css";
@import "assets/css/Toast.css";
@import "assets/css/Form.css";

:root {
  --primary: #f5c518;
  --primary-light: #ecd168;
  --secondary: #121212;
  --secondary-light: #2f2d2d;
  --error: indianred;
  --success: green;
  --transition: 0.3s;
  --link: #5799ef;
  --muted: #6c757d;
  --background: #1f1f1f;
  --logo: #00539cff;
}

::placeholder {
  color: gray;
  opacity: 1;
}

body {
  background-color: black;
  color: lightgray;
  background-image: url("assets/media/background-image.png");
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.svg-inline--fa {
  transition-duration: var(--transition);
}

.primary {
  color: var(--primary);
}

.lightgray {
  color: lightgray !important;
}

.lightcoral {
  color: lightcoral !important;
}

.blue {
  color: var(--link);
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.7;
}

.link {
  color: var(--link) !important;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.display-6 {
  color: lightgray;
  font-family: "Skranji", cursive;
}

.mt-5rem {
  margin-top: 5rem;
}
