@import "./assets/css/Button.css";

:root {
  --primary: #f5c518;
  --secondary: #121212;
  --secondary-light: #2f2d2d;
  --error: indianred;
  --success: green;
}

::placeholder {
  color: gray;
  opacity: 1;
}

body {
  background-color: black;
}
